body {
  background-color:#383c4a;
}
.root{
  height:100vh;
  padding:50px;
}
.flexbox-container {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#383c4a;
  flex-direction:column;
}

#container {
  margin-top:20px;  
  padding-top:50px;
}

.box {
  background-color: 	#383c4a;
  width:500px;
  height:300px;
  padding:50px;
  margin:20px;
}

.form-div{
  margin-top:10px;
  padding-left:20px;
  
}
#search-input{
  width:150px;
  background-color: 	#4b5162;
  color:white;
}

.btn {
  background-color:#383c4a;
  color:white;
  
}
.btn-focus{
  color:#66afe9;
  border-color:#66afe9;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.75),0 0 8px rgba(102,175,223,.6);
}

.article {
  background-color:white;
  min-height:120px;
  width:800px;
  margin:20px;
  padding:8px 20px 20px 20px;
  border-left:solid 10px transparent;
  transition:background-color 0.5s,border-left-color 0.5s,color 0.2s;
}

.article:hover{
  /*background-color:#4b5162;*/
  background-color:lightgray;
  border-left-color:#5294e2;
  color:#5294e2;
  transition:background-color 0.5s,border-left-color 0.5s,color 0.2s;
}

a:link, a:visited {
  text-decoration: none;
  color:#4b5162;
    
}

#random-btn {
  margin:10px;
  background-color: #383c4a;
  border:1px solid white;
  border-radius:5px;
}

#random-btn:hover {
  color:#383c4a;
  border:1px solid transparent;
  background-color:lightgray;
}

#title {
  color:white;
  margin:10px;
  font-size:3em;
}

.search {
  display: flex;
  justify-content: center
}
